<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Filters & Mixins</h1>
                <!-- Exercise 1 -->
                <!-- Build a local Filter which reverses the Text it is applied on -->
                <p class="alert alert-info">{{ exerciseOne | reverseText }}</p>
                <!-- Exercise 2 -->
                <!-- Build a global Filter which counts the length of a word and it appends it -->
                <!-- Like this: "Test" => Gets Filtered to => "Test (4)" -->
                <p class="alert alert-info">{{ exerciseTwo | countLength }}</p>
                <!-- Exercise 3 -->
                <!-- Do the same as in Exercises 1 & 2, now with Computed Properties -->
                <p class="alert alert-info">{{ computedExerciseOne }}</p>
                <p class="alert alert-info">{{ computedExerciseTwo }}</p>
                <!-- Exercise 4 -->
                <!-- Share the Computed Property rebuilding Exercise 2 via a Mixin -->
                <p class="alert alert-info">{{ computedExerciseFourOne }}</p>
                <p class="alert alert-info">{{ computedExerciseFourTwo }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import { exerciseMixin } from './exerciseMixin.js';

    export default {
        mixins: [exerciseMixin],
        data() {
            return {
                exerciseOne : 'Exercise 1',
                exerciseTwo : 'Exercise 2'
            }
        },
        filters : {
            reverseText(value){
                return value.split("").reverse().join("");
            }
        },
        computed : {
            computedExerciseOne(){
                return this.exerciseOne.split("").reverse().join("");
            },
            computedExerciseTwo(){
                return this.exerciseTwo + ' (' + this.exerciseTwo.length + ')';
            }
        }
    }
</script>

<style>
</style>
