<template>
    <div class="col-xs-12 col-sm-6" v-if="!server">
        <p>Select Server!</p>
    </div>
    <div class="col-xs-12 col-sm-6" v-else>
        <p>Server #{{ server.id }}</p>
        <p>Status: {{ server.status }}</p>
        <button @click="UpdateServerDetails">Change Status</button>
    </div>
</template>

<script>
    import {eventBus} from '../../main';

    export default {
        data() {
            return { server : null }
        },
        methods: {
            UpdateServerDetails() {
                this.server.status = "Normal (by ServerDetails.vue)";
            }
        },
        created() {
            eventBus.$on('serverInfo', (server) => {
                this.server = server;
            });
        }
    }
</script>

<style>

</style>
