<template>
    <li class="list-group-item"  @click="showServerDetails()">
        Server #{{ server.id }} - Status: {{ server.status }}
    </li>
</template>

<script>
import {eventBus} from '../../main';

export default {
    props:['server'],
    methods: {
        showServerDetails() {
            eventBus.$emit('serverInfo', this.server);
        }
    }
}
</script>

<style>

</style>