<template>
    <div class="container">
        <form v-if="!isSubmitted">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h1>Signup Form</h1>
                    <hr>
                    <app-full-name :fullname="name" v-model="name"></app-full-name>
                    <div class="form-group">
                        <label for="mail">Mail</label>
                        <input
                                type="email"
                                id="mail"
                                class="form-control" v-model="mail">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                                type="password"
                                id="password"
                                class="form-control" v-model="password">
                    </div>
                    <div class="form-group">
                        <label for="storeDataCheckbox">
                            <input
                                    type="checkbox"
                                    id="storeDataCheckbox"
                                    v-model="storeDataCheckbox"> Send Mail
                        </label>
                    </div>
                    <div class="form-group">
                        Send Mail?<br/>
                        <label for="yes">
                            <input
                                    type="radio"
                                    id="yes"
                                    value="yes"
                                    v-model="storeDataRadio"> Yes
                        </label>
                        <label for="no">
                            <input
                                    type="radio"
                                    id="no"
                                    value="no"
                                    v-model="storeDataRadio"> No
                        </label>
                    </div>
                    <div class="form-group">
                        <button
                            class="btn btn-primary"
                            @click.prevent="submitted">Submit!
                        </button>
                    </div>
                    <!-- Exercise 1 -->
                    <!-- Create a Signup Form where you retrieve the following Information -->
                    <!-- Full Name (First Name + Last Name) -->
                    <!-- Mail -->
                    <!-- Password -->
                    <!-- Store Data? Yes/No -->

                    <!-- Exercise 2 -->
                    <!-- Only display the Form if it has NOT been submitted -->
                    <!-- Display the Data Summary ONCE the Form HAS been submitted -->

                    <!-- Exercise 3 -->
                    <!-- Edit the Example from above and create a custom "Full Name" Control -->
                    <!-- which still holds the First Name and Last Name Input Field -->
                </div>
            </div>
            <hr>
        </form>
        <div class="row" v-if="isSubmitted">
            <br>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
                        <p>Full Name: {{ name.first }} {{ name.last }}</p>
                        <p>Mail: {{ mail }}</p>
                        <p>Password: {{ password }}</p>
                        <p>Store in Database?: <br/>
                            Checkbox: {{ storeDataCheckbox }}<br/>
                            Radio: {{ storeDataRadio }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FullName from "./components/FullName.vue";
    export default {
        data(){
            return {
                name: {
                    first: '',
                    last: '',
                },
                mail: '',
                password: '',
                storeDataCheckbox: false,
                storeDataRadio: 'no',
                isSubmitted: false
            }
        },
        methods:{
            submitted(){
                this.isSubmitted = true;
            }
        },
        components:{
            'app-full-name': FullName
        }
    }
</script>

<style>
</style>
