<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Directives Exercise</h1>
                <!-- Exercise -->
                <!-- Build a Custom Directive which works like v-on (Listen for Events) -->
                <p v-myon:click.background="'red'">Change Background Color with click event</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        directives:{
            'myon' : {
                bind(el, binding, vnode){
                    el.addEventListener(binding.arg, function() {
                        if ( binding.modifiers['background']) {
                            el.style.backgroundColor = binding.value;
                        }
                    });
                }
            }
        }
    }
</script>

<style>
</style>
