<template>
    <section>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input
                    type="text"
                    id="firstName"
                    class="form-control" v-model="fullname.first">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
                    type="text"
                    id="lastName"
                    class="form-control" v-model="fullname.last">
        </div>
    </section>
</template>

<script>
export default {
    props:['fullname']
}
</script>

<style>

</style>